# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
.factorypath

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Spring
.springBeans
.swp

# Coverage / Reports
site/
.coverage/
jacoco.exec

# Docker
*.pid

# Environment files
.env
